<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">

</head>
<body>
    <header>
        <h1>Our Services</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="translate-content" id="translate-content">
            <p>Welcome to our AgriTech platform. We are dedicated to revolutionizing the agricultural industry by providing innovative solutions and services tailored to the needs of farmers worldwide. Our platform aims to empower farmers with cutting-edge technologies, actionable insights, and expert guidance to optimize their agricultural practices and enhance productivity.</p>
            <p>At our core, we believe in leveraging technology to address the challenges faced by farmers and promote sustainable farming practices. Through advanced data analytics, remote sensing technologies, and machine learning algorithms, we offer a range of services spanning quality control, crop monitoring, inventory management, market access, financial services, crop insurance, and extension services.</p>
            <p>Our team consists of experts in agriculture, data science, and technology who are committed to supporting farmers at every stage of their journey. Whether you are a smallholder farmer or a large-scale agricultural enterprise, our platform is designed to meet your needs and help you thrive in today's dynamic agricultural landscape.</p>
            <p>Join us in transforming agriculture for a better and more sustainable future. Together, we can create a world where farmers have the tools, resources, and support they need to feed the growing global population while preserving our planet's natural resources.</p>
        </div>
    </main>
        <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
     
        <address>P.O.Box 2533, Morogoro, Tanzania</address>
    </footer>
    


</body>
</html>

